Scrapy
lxml_html_clean
newspaper3k
scrapy-redis
celery
celery[billiard,redis]
redis
elasticsearch
elasticsearch-dsl
scrapy-rotating-proxies
scrapy-splash
selenium
python3-wappalyzer
scrapy-selenium
webdriver-manager
scrapy-user-agents